<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:build="http://schemas.microsoft.com/developer/appx/2015/build"
  IgnorableNamespaces="uap mp build">

  <Identity
    Name="{IdentityName}"
    Version="1.0.0.0"
    Publisher="CN=user" />

  <mp:PhoneIdentity PhoneProductId="{PhoneProductId}" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  
  <build:Metadata>
    <build:Item Name ="ManifoldJSVersion" Value ="{ManifoldJSVersion}" />
    <build:Item Name ="GeneratedFrom" Value ="{GeneratedFrom}" />
    <build:Item Name ="GenerationDate" Value ="{GenerationDate}" />
    {MetadataItems}
  </build:Metadata>

  <Properties>
    <DisplayName>{DisplayName}</DisplayName>
    <PublisherDisplayName>user</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application
      Id="{ApplicationId}"
      StartPage="{StartPage}">

      <uap:VisualElements
        DisplayName="{DisplayName}"
        Description="{Description}"
        BackgroundColor="#464646"
        Square150x150Logo="images\logo.png"
        Square44x44Logo="images\smalllogo.png">

        <uap:SplashScreen Image="images\splashscreen.png" />

        <uap:InitialRotationPreference>
          <uap:Rotation Preference="{RotationPreference}" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      
      <uap:ApplicationContentUriRules>
        {ApplicationContentUriRules}
      </uap:ApplicationContentUriRules>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>